<footer class="footer">
	<section>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<a href="/"><img src="/images/logos/logo-slant.png" alt="Competitive Excavation Logo" class="footer-logo"/></a>
		
		<div class="social">
			<a href="{{ site.facebook }}"><span class="fa fa-facebook-official"></span></a>
			<a href="{{ site.instagram }}"><span class="fa fa-instagram"></span></a>
			<a href="{{ site.pinterest }}"><span class="fa fa-pinterest"></span></a>
			<a href="{{ site.twitter }}"><span class="fa fa-twitter"></span></a>
		</div>
		
		<nav>
			<a href="/">Home</a>
			{% for item in site.main-pages %}  
			<a href="{{ item.url }}" {% if page.url contains item.navclass %}class="selected"{% endif %}>{{ item.navtitle }}</a>
			{% endfor %}
		</nav>
		
		<p class="copyright"><a href="/"><img src="/images/logos/logo-grey.png" alt="Custom Cut Shirts Logo" class="footer-logo"/></a> © {{ site.name }} {{ 'now' | date: "%Y" }}.</p>
		
		<div class="contact">
			<p>{{ site.name }}</p>
			<p><i class="fa fa-map-marker" aria-hidden="true"></i>{{ site.address1 }}<br />{{ site.address2 }}</p>
			<p><i class="fa fa-phone" aria-hidden="true"></i>{{ site.phone }}</p>
			<p><i class="fa fa-envelope" aria-hidden="true"></i>{{ site.email }}</p>
			<p><i class="fa fa-fax" aria-hidden="true"></i>{{ site.fax }}</p>
		</div>
	</section>
</footer>