<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/flickity.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/strip.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<!-- load js scripts -->
		<script type="text/javascript" src="/scripts/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/scripts/strip.pkgd.min.js"></script>
		<script type="text/javascript" src="/scripts/main.js"></script>
		
		<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Cherry+Swash:700|Comfortaa:300|Dhurjati|Iceberg|Jockey+One|Revalia|Righteous|Stardos+Stencil:700|Teko:600|Timmana|Wallpoet" rel="stylesheet">
		
	</head>
	<body>
		{% include header.html %}
		<div class="content">
			<div>
				{{ content }}
			</div>
			{% include footer.html %}
		</div>
		<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
		<script type="text/javascript">
		    (function ($) {
		        window.sr = ScrollReveal();
		        sr.reveal('.animate');
		        sr.reveal('.animate-up', { duration: 1000, origin: 'bottom', delay: 500 });
		        sr.reveal('.animate-down', { duration: 1000, origin: 'top', delay: 500 });
		        sr.reveal('.animate-left', { duration: 1000, origin: 'right', distance: '200px', scale: 1  });
		        sr.reveal('.animate-right', { duration: 1000, origin: 'left', distance: '200px', scale: 1 });
		        sr.reveal('.animate-up-2', { duration: 1000, origin: 'bottom', delay: 500, viewFactor: 0.01, scale: 1 });
		    })();
		</script>	
	</body>
</html>